sample.flows
[{"id":"d0bb9314.38f63","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e068245.99d88c","type":"mqtt-broker","z":"","name":"","broker":"10.2.1.145","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80460fbd.b7a1f","type":"door-sensor","z":"d0bb9314.38f63","name":"","lowBatteryLevel":"25","x":510,"y":160,"wires":[["5160bae9.a65924"],["da2c3459.3c1c98"],["c172254a.bdaa98"]]},{"id":"32e187fe.584998","type":"template","z":"d0bb9314.38f63","name":"door payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"battery\": 29, \"contact\": {{payload}}, \"voltage\": 3065, \"last_seen\": \"2019-03-07T01:47:17.958Z\", \"linkquality\": 47}","output":"str","x":270,"y":180,"wires":[["80460fbd.b7a1f"]]},{"id":"92fb162.27062e8","type":"inject","z":"d0bb9314.38f63","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["32e187fe.584998"]]},{"id":"60e2ee6b.1a07c","type":"inject","z":"d0bb9314.38f63","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["32e187fe.584998"]]},{"id":"5160bae9.a65924","type":"debug","z":"d0bb9314.38f63","name":"top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":200,"wires":[]},{"id":"da2c3459.3c1c98","type":"debug","z":"d0bb9314.38f63","name":"mid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":240,"wires":[]},{"id":"c172254a.bdaa98","type":"debug","z":"d0bb9314.38f63","name":"batt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":280,"wires":[]},{"id":"de3e67d7.8cfbf8","type":"motion-sensor","z":"d0bb9314.38f63","name":"","lowBatteryLevel":30,"x":510,"y":320,"wires":[["5160bae9.a65924"],["da2c3459.3c1c98"],["c172254a.bdaa98"]]},{"id":"1d00f8b9.5cf7a7","type":"template","z":"d0bb9314.38f63","name":"motion payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"battery\": 100, \"voltage\": 3015, \"last_seen\": \"2019-03-07T01:48:32.389Z\", \"occupancy\": {{payload}}, \"illuminance\": 10, \"linkquality\": 76}","output":"str","x":280,"y":320,"wires":[["de3e67d7.8cfbf8"]]},{"id":"9b018a5d.9b33d8","type":"inject","z":"d0bb9314.38f63","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["1d00f8b9.5cf7a7"]]},{"id":"d0e096ad.f26e38","type":"inject","z":"d0bb9314.38f63","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["1d00f8b9.5cf7a7"]]},{"id":"c8b4a3e6.a9427","type":"button_v1","z":"d0bb9314.38f63","name":"","lowBatteryLevel":"30","x":500,"y":460,"wires":[["f95ea574.be7d38"],["a784c420.9ea318"],["9b85e59.3d47818"],["7894b3ad.d868dc"],[]]},{"id":"a56082dc.d30a4","type":"button_v2","z":"d0bb9314.38f63","name":"","lowBatteryLevel":30,"x":500,"y":760,"wires":[["f95ea574.be7d38"],["a784c420.9ea318"],["9b85e59.3d47818"],["7894b3ad.d868dc"],[]]},{"id":"f75be9d.3ef0618","type":"template","z":"d0bb9314.38f63","name":"button status payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"battery\":100,\"voltage\":3035,\"linkquality\":65,\"last_seen\":\"2019-03-05T11:46:08.276Z\"}","output":"str","x":280,"y":460,"wires":[["c8b4a3e6.a9427","a56082dc.d30a4"]]},{"id":"f95ea574.be7d38","type":"debug","z":"d0bb9314.38f63","name":"button 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":540,"wires":[]},{"id":"a784c420.9ea318","type":"debug","z":"d0bb9314.38f63","name":"button 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":580,"wires":[]},{"id":"9b85e59.3d47818","type":"debug","z":"d0bb9314.38f63","name":"button 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":640,"wires":[]},{"id":"7894b3ad.d868dc","type":"debug","z":"d0bb9314.38f63","name":"button 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":680,"wires":[]},{"id":"fc103ab1.617488","type":"inject","z":"d0bb9314.38f63","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":460,"wires":[["f75be9d.3ef0618"]]},{"id":"b3eebf34.5f389","type":"template","z":"d0bb9314.38f63","name":"click payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"battery\":100,\"voltage\":3035,\"linkquality\":60,\"last_seen\":\"2019-03-05T11:32:50.696Z\",\"click\":\"{{payload}}\"}","output":"str","x":270,"y":520,"wires":[["c8b4a3e6.a9427"]]},{"id":"52ca8588.23ed3c","type":"inject","z":"d0bb9314.38f63","name":"single","topic":"","payload":"single","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":540,"wires":[["b3eebf34.5f389"]]},{"id":"34b67b9c.16cb14","type":"inject","z":"d0bb9314.38f63","name":"double","topic":"","payload":"double","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":580,"wires":[["b3eebf34.5f389"]]},{"id":"80d45335.557d","type":"inject","z":"d0bb9314.38f63","name":"triple","topic":"","payload":"triple","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":620,"wires":[["b3eebf34.5f389"]]},{"id":"3b0fbf1f.a08b8","type":"inject","z":"d0bb9314.38f63","name":"quadruple","topic":"","payload":"quadruple","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":660,"wires":[["b3eebf34.5f389"]]},{"id":"69bea9dc.af0e28","type":"inject","z":"d0bb9314.38f63","name":"single","topic":"","payload":"\"click\": \"single\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["bf812d02.283b8"]]},{"id":"d65a7be4.338ef8","type":"inject","z":"d0bb9314.38f63","name":"double","topic":"","payload":"\"click\": \"double\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":780,"wires":[["bf812d02.283b8"]]},{"id":"6f3dafa2.4307","type":"inject","z":"d0bb9314.38f63","name":"hold","topic":"","payload":"\"action\": \"hold\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":820,"wires":[["bf812d02.283b8"]]},{"id":"f2761096.30bae","type":"inject","z":"d0bb9314.38f63","name":"quadruple","topic":"","payload":"\"action\": \"release\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":860,"wires":[["bf812d02.283b8"]]},{"id":"bf812d02.283b8","type":"template","z":"d0bb9314.38f63","name":"click/action payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"battery\":29,\"voltage\":3035,\"linkquality\":60,\"last_seen\":\"2019-03-05T11:32:50.696Z\",{{{payload}}} }","output":"str","x":290,"y":760,"wires":[["a56082dc.d30a4"]]}]
